<div class="container">

  <h2>Create your own social snippet</h2>

  <div>

    <%= form_for(Page.new, url: pages_path(:format => :json), html: {id: 'new-page', 'data-type' => 'json'}, remote: true) do |f| %>

        <div>
          <%= f.label :original_url %><br/>
          <%= f.text_field :original_url, class: 'form-control', autofocus: true, :autocomplete => 'off' %>
        </div>

        <div>
          <%= f.label :title %><br/>
          <%= f.text_field :title, class: 'form-control', :autocomplete => 'off' %>
        </div>

        <div>
          <%= f.label :description %><br/>
          <%= f.text_field :description, class: 'form-control', :autocomplete => 'off' %>
        </div>

        <div>
          <%= f.label :image_url %><br/>
          <%= f.text_field :image_url, class: 'form-control', :autocomplete => 'off' %>
        </div>

        <div class="clearfix"><br/></div>

        <div id="sample">
          <table id="sample_table">
            <tr>
              <td id="sample_title" colspan="2"></td>
            </tr>
            <tr>
              <td><img id="sample_image" src="/blank.png"></td>
              <td id="sample_description"></td>
            </tr>
          </table>
        </div>

        <div class="clearfix"><br/></div>

        <div><%= recaptcha_tags %></div>

        <div class="clearfix"><br/></div>

        <div><%= f.submit "Create snippet!", id: 'page_create_button', class: 'btn btn-success' %></div>

    <% end %>

  </div>

  <div id="result" style="display:none;"></div>

</div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        $("#new-page").bind("ajax:success", function (xhr, data, status) {
            //console.log(data);
            var link = document.location.href + '-/' + data['code'];
            var html = '<a target="_blank" href="' + link + '">' + link + '</a>';
            $("#page_create_button").hide();
            $("#sample").hide();
            $("#result").html(html);
            $("#result").show();
        });

        $('#page_title').on('keyup', function(event){
            $('#sample_title').html($(event.target).val());
        });

        $('#page_description').on('keyup', function(event){
            $('#sample_description').html($(event.target).val());
        });

        $('#page_image_url').on('keyup', function(event){
            $('#sample_image').attr('src', $(event.target).val());
        });

    });
</script>