<html>
<head>

<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="website">

<meta property="og:title" content="<%=h @page.title %>">
<meta property="og:description" content="<%=h @page.description %>">
<meta property="og:image" content="<%=h @page.image_url %>">
<meta property="og:url" content="<%=h @page.original_url %>">

</head>
<body>

<p>
  Loading...
</p>

<script type="text/javascript">
  setTimeout(function(){
      location.href = '<%=h @page.original_url %>';
  }, 3);
</script>

</body>
</html>
